.navbar-brand>
.btn-theme{
    border: none;
    background-color: ;
    color: white;
    width: 100px;
    height: 40vh;
}
.home-right{
background-color: greenyellow;
}
.home-left{
    background-color:green;
}
.tex{
    background-color: blueviolet;
}